<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854642299978-gmmcbpcql4br47fdu0dqrs2lip1isspb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854642299978-gmmcbpcql4br47fdu0dqrs2lip1isspb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>854642299978-siir9kksu368f6s926067l4movsc5hm2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD1V_23UDcyCdL0aLW37UKmsuUL0VP1N1E</string>
	<key>GCM_SENDER_ID</key>
	<string>854642299978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kliento.bookAbite</string>
	<key>PROJECT_ID</key>
	<string>bookabite-6c3cb</string>
	<key>STORAGE_BUCKET</key>
	<string>bookabite-6c3cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854642299978:ios:73991e6dc608c1c30942b3</string>
	<key>DATABASE_URL</key>
	<string>https://bookabite-6c3cb.firebaseio.com</string>
</dict>
</plist>